.example-viewport {
  margin: auto;
  padding: 10px;
  height: 100%;
  border: 1px solid black;
}

.city-list {
  border: 1px solid;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin: auto;
  display: block;
}
